extends layout

block content
  //- https://pugjs.org/language/includes.html
  include includes/vars.pug
  //- p.testInclude Hey voici du texte qui  d'ailleurs : #{tayste}
  
  .container
    header
      .title
        img.logo(src="images/logo-rotten-straberry.png")
        //- La variable provient de routes/index.js
        h1= MONSUPERTITLE
      nav.menu
        ul
          //- https://pugjs.org/language/iteration.html
          each val in menu
            li
              a(href=val.link) #{val.text}

    p Lorem ipsum dolor sit, amet consectetur adipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicingadipisicing elit. Enim delectus expedita nostrum odio officia minus blanditiis voluptatem natus sequi, sint saepe deserunt illo ea vero sit nesciunt est exercitationem sunt at. Suscipit totam reiciendis, ipsum perspiciatis labore itaque a, voluptatibus magnam iure laboriosam iusto mollitia iste repellat quasi ab reprehenderit tempora facilis esse ex omnis, accusantium molestias saepe non animi! Delectus est assumenda illum, officia ipsa consequuntur, minima aspernatur architecto eveniet beatae consectetur odio in ducimus aut recusandae obcaecati aperiam perspiciatis minus adipisci vitae repellendus? Possimus voluptatibus obcaecati excepturi fuga quia a, ducimus architecto nostrum ipsa dolor tenetur illum quos doloribus unde odio suscipit! Perspiciatis suscipit alias nulla quas ratione itaque dolorum provident vitae iusto aliquid totam deleniti dignissimos fugit, est odit dolores architecto eius dolore modi minima aliquam officia officiis quisquam? Adipisci ducimus hic, quidem doloribus molestiae velit autem asperiores! Quae, sint obcaecati eos dolorem delectus iste atque. Iure.
    mixin monFilmAMwa(film)
      article
        .header
          a(href=film.title.link)
            h2= film.title.text
          .categorie= film.category
        .main
          img(src=film.image.src)
          .description= film.description
        .footer
          .realisator= film.realisator
          ul.actors
            li Acteurs
            each actor in film.actors
              li= actor
          .date= film.date
    
    main(role="main")
      each film in films
        +monFilmAMwa(film)

    sidebar
      form.search
        table
          tr
            td
              input(placeholder="Recherche" type="text")
            td
              input.search-button(type="submit" value="🔍")
      h3 Catégories
      ul
        each val in ["Humour", "Action", "Drama"]
          li
            a= val
    
    footer
      p © 2021 / Max 

    //- .test
    //-   h1 Mon titre
    //-   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, repellendus.  

  .test
    p Tests de titres

    h1 Un exemple de titre h1
    h2 Un exemple de titre h2
    h3 Un exemple de titre h3
    h4 Un exemple de titre h4
    h5 Un exemple de titre h5
    h6 Un exemple de titre h6
